In [1]:
import pandas as pd
import unicodedata
import ftfy
import gensim
from sklearn.model_selection import train_test_split
from sklearn.manifold import TSNE
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv ('./data/seek_australia.csv')
df = df.sample(frac = 0.1, random_state=42)
df

,category,city,company_name,geo,job_board,job_description,job_title,job_type,post_date,salary_offered,state,url
2308,Consulting & Strategy,Brisbane,RACQ,AU,seek,Â Lead and develop team of Pricing Analysts ...,Manager Pricing,Full Time,2018-04-16T02:48:56Z,NaN,Southern Suburbs & Logan,https://www.seek.com.au/job/35992845
22404,Trades & Services,Adelaide,Extrastaff,AU,seek,"Backed by the Australian Chamber movement,Â E...",Experienced Bakers,Casual/Vacation,2018-04-12T02:23:53Z,NaN,NaN,https://www.seek.com.au/job/35967419
23397,Accounting,Brisbane,Boeing Defence Australia,AU,seek,"Boeing Defence Australia Ltd, a wholly owned ...",Contracts Manager,Full Time,2018-04-12T03:45:02Z,NaN,CBD & Inner Suburbs,https://www.seek.com.au/job/35968503
25058,Hospitality & Tourism,Gold Coast,Jora Local,AU,seek,A restaurant in Runaway Bay is seeking a casu...,Casual Cook in Runaway Bay,Casual/Vacation,2018-04-12T07:35:02Z,NaN,NaN,https://www.seek.com.au/job/35972652
2664,Community Services & Development,Adelaide,Advanced Personnel Management,AU,seek,About the Company: APM is an Australian owned...,Employment Consultant - Disability Employment ...,Full Time,2018-04-16T03:48:14Z,Competitive Salary + Performance Incentives,NaN,https://www.seek.com.au/job/35993764
...,...,...,...,...,...,...,...,...,...,...,...,...
21481,Banking & Financial Services,Brisbane,Davidson Corporate,AU,seek,About the Company Our client has a track reco...,Desk Assistant,Full Time,2018-04-12T03:31:03Z,NaN,CBD & Inner Suburbs,https://www.seek.com.au/job/35968345
26178,Information & Communication Technology,Melbourne,Finite IT Recruitment Solutions,AU,seek,Data Centre Support Engineer - 6 month contra...,Data Centre Support Engineer,Contract/Temp,2018-04-12T23:34:30Z,NaN,CBD & Inner Suburbs,https://www.seek.com.au/job/35975087
27445,Hospitality & Tourism,"Newcastle, Maitland & Hunter",Muswellbrook Motors,AU,seek,New business freshly renovated On-Par Steak H...,Chef or 4th Year Apprentice,Full Time,2018-04-12T23:08:02Z,NaN,NaN,https://www.seek.com.au/job/35974716
1723,Trades & Services,Cairns & Far North,Downer EDI Limited,AU,seek,Downer's construction business has recently b...,Trades and Non Trades - Far North Queensland,Full Time,2018-04-16T01:41:53Z,NaN,NaN,https://www.seek.com.au/job/35991886
8485,Call Centre & Customer Service,Melbourne,Prism Group,AU,seek,Cash This is a position offeringÂ FULL TIME s...,CUSTOMER SERVICE - $750 - $1300 A WEEK OTE!,Full Time,2018-04-15T07:13:14Z,"$40,000 - $59,999",NaN,https://www.seek.com.au/job/35987610

# Data pre-processing

In [3]:
features_to_delete = ['job_board','geo','url'] # get rid of unnecessary features (maybe add more columns)
df = df.drop(features_to_delete, axis=1)

Job description is necessary for all the tasks in this assignment, so it makes sense to drop rows that are missing these values

In [4]:
print(df['job_description'].isna().sum())
df.dropna(subset=['job_description'], inplace=True)

37

Tokenize each row and decode the text to remove all the non-latin characters

In [5]:
for i in df[ "job_description"].index:
    df.loc[i, "job_description"] = gensim.utils.simple_preprocess(
        ftfy.fix_text(unicodedata.normalize("NFKD",df.loc[i,"job_description"])), deacc=True)

Create_tfidf function creates a dataframe with each row representing a document with corresponding tfidf scores and the columns showing the full corpus vocabulary. Thus the tfidf score for each word in each document can be looked up.

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Allows passing tokens to the vectorizer
def dummy_fun(doc):
    return doc

def create_tfidf_df(tokens):  
    tfidf = TfidfVectorizer(
    analyzer='word',
    tokenizer=dummy_fun,
    preprocessor=dummy_fun,
    token_pattern=None) 

    tdf = tfidf.fit_transform(tokens)
    bow = pd.DataFrame(tdf.toarray(), columns = tfidf.get_feature_names_out())

    return bow

Top x tfidf accepts a list of tokenized documents and removes all words that do not have the top x tfidf scores

In [74]:
df['short_description'] = [None for i in range(len(df))]

Removes all words that do not have the top 10 tfidf scores. Treats each category as its own corpus

In [89]:
def top_x_tfidf(df, x):
    for category in df.category.unique():
        tfidf_df = create_tfidf_df(df[df.category == category]['job_description'])
        for i, (idx_row) in enumerate(df[df.category == category].iterrows()):
            idx, row = idx_row
            desc = row['job_description']
            words = set(desc)        
            if len(words) < x: 
                df.loc[idx]['short_description'] = desc
                continue

            # Create a dictionary of words and their tfidf values and then sort them in descending order
            tfidf_words = {word: tfidf_df.iloc[i][word] for word in words}
            tfidf_words = {k: v for k, v in sorted(tfidf_words.items(), key=lambda item: -item[1])}

            for word in desc:
                if word not in list(tfidf_words.keys())[:x]: # Remove all words who are not in the top ten tfidf scores
                    desc = list(filter(lambda x: x != word, desc))
            df.loc[idx]['short_description'] = desc
    return df['short_description']

In [90]:
top_x_tfidf(df, 10)

2308     [and, develop, of, pricing, and, product, and,...
22404    [backed, the, chamber, the, and, and, and, the...
23397    [boeing, defence, of, the, boeing, contracts, ...
25058    [runaway, bay, casual, cook, to, to, to, at, b...
2664     [the, apm, with, and, apm, employment, and, th...
                               ...
21481    [about, the, track, record, and, to, internal,...
26178    [centre, telco, cloud, telco, solutions, centr...
27445    [freshly, renovated, par, steak, inside, muswe...
1723     [downer, construction, bauxite, mine, of, down...
8485     [cash, is, to, and, we, we, we, the, average, ...
Name: short_description, Length: 2963, dtype: object

In [ ]:
short_descriptions = []
for category in df['category'].unique():
    short_descriptions += top_x_tfidf(df.loc[df['category'] == category]['job_description'], tfidf_bow, 10)
df['short_description']

Split the dataframe into training, testing and validation

In [ ]:
train, test_val = train_test_split(df, test_size=0.3)

test, val = train_test_split(test_val, test_size = float(1/3))

# Task 1

Derive target variable

In [ ]:
df['job_type_target'] = df['job_type']

In [ ]:
df.loc[df['job_type_target'] != 'Full Time', 'job_type_target'] = 'Other'

Analyse class distribution

In [ ]:
df['job_type_target'].hist()

In [ ]:
# Class 'Full Time' is twice as large as 'Other'. Verify based on literature if such a distribution is too
# imbalanced for this learning task

# Task 2